* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
:root {
  --primary: #838486;
  --accent: #020101d7;
  --bg: #f9fafb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

main{
   padding: 1rem;
}

h1 {
  grid-row: 1;
}

/******************header*********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: center;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3DA05B;
}

/*****************HAMBURGER NAVIGATION**************/
.hamburger {
    background: none;
    border: none;
    color: #3D4058;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .hamburger::before {
    content: "\2630";
    font-size: 2rem;
 }
 .hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
 }
 
 .navigation {
    display: none;
 }

 .navigation.show {
    display: block;
 }
 .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--bg);
    text-decoration: none;
    background-color: var(--accent);
    border-bottom: 3px solid #eee;

 }
 .navigation li.current{
    background-color: var(--primary);
 }
 .navigation a:hover {
    background-color: #E07A5F;
 }
 h1 {
    margin: 10px;
 }
 .main h2,.hero h2,.full  h2 {
  background-color: var(--accent);
  text-align: center;
  color: var(--bg);
 }
 .main p {
  margin: 2rem;
  padding: 0;
 }

 /**********************footer********************/
 footer {
   
   padding: 1rem 10px;
   background-color: #d3d4d6;
 }

 .social {
   display: flex;
   justify-content: center;
   column-gap: 8px;
 }

 .social a {
   display: flex;
   justify-content: center;
   align-items: center;
   border: #ccc solid 1px;
   width: 44px;
   height: 44px;
   border-radius: 22px;

 }
 .social img {
   width: 22px;
   height: 22px;

 }

 .social a:hover {
   background-color: #ddd;
 }

 section {
  padding: 2rem 1rem;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding:
   1rem;
  max-width: 90%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.byu{
   display: flex;
   

}

.course{
grid-template-columns: 24px auto 44px;

}
.course h3 {
  background-color: var(--primary);
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

.subject a {
  background-color: var(--primary);
  text-decoration: none;
  border-radius: 5px;
  width: 90px;
  height: auto;
  padding: 1rem 40px;
}

.byu ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.social a{
  background-color: var(--primary);
  color: #fff;
}
#members.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#members.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-card {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
}

.member-card img {
  max-width: 100%;
  height: auto;
}
