@media only screen and (min-width: 38rem){
     
    header,main,nav {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;

    }
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }
    footer {
      display: flex;
      column-gap: 10rem;
      align-items: center;
      margin: auto;
      justify-content: center;

    }

    .navigation {
        display: grid;
        border-bottom: solid 1px #eee;
    }
    .navigation ul{
        display: flex;
        margin-right: auto;
    }
    .navigation a {
        border: none;
    }

    .layout {
        display: grid;
        gap: 1.5rem;
       grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:"main hero"
                            "full full";
  }

.main {
    grid-area: main;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .hero {
    grid-area: hero;
     grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .full {
    grid-area: full;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .course1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0;

  }
  .course{
    width: 400px;

  }
  /* Hero1 */
  .hero1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 6px;
  }

  /* Events & Weather side by side */
  .events-weather {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  /* Spotlights in a row */
  .spotlights {
    column-gap: 10rem;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 8rem;
    display: block;
  }
  .sportlight {
    display: flex;
    gap: 5rem;
  }
  .enter {
    max-width: 30rem;
  }

    
.card,.events {
  max-width: 20rem;

}

.weather {
  max-width: 25rem;
  background-color: blue;
}

}