@media only screen and (min-width: 38rem){
     
    header,main,nav,footer {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;

    }
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }
    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }
    .navigation ul{
        display: flex;
    }
    .navigation a {
        border: none;
    }

    .layout {
        display: grid;
        gap: 1.5rem;
       grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:"main hero"
                            "full full";
  }

  .main {
    grid-area: main;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .hero {
    grid-area: hero;
     grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .full {
    grid-area: full;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .course1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0;

  }
  .course{
    width: 400px;

  }
}
    
